  
  
  <div class="col-md-4 offset-md-4 ">
  <div class="form-group"> 
  <form action="/creategroup" method="POST" enctype="multipart/form-data">
  <h2>Crear Grupo</h2>
  <label for="name">Nombre</label>
  <input type="text" class="form-control" name="name"  placeholder="Materia">
  <label for="themes"> Tema</label>
  <input type="text" class="form-control" name="themes" >
  <label for=" difficulty" placeholder="1,5,10">Nivel de dificultad</label>
  <input type="number" class="form-control" name="difficulty">

  <div class="new-photo">
  
      <h5>Subir foto</h5>
   
   
  </div>
   <div class="change-picture">

  <input type="file" class="form-control" name="photo">
  <br>
  <input type="submit" class="form-control" value="SAVE">


  <button type="submit">Crear Grupo</button>
</form>
</div>
</div>

