<form action="/createsubject" method="POST">
  <h2>Comment</h2>
  <label for="name">Nombre</label>
  <input type="text" name="name" placeholder="Materia">
  <label for="themes"> Tema</label>
  <input type="text" name="themes" >
  <label for=" difficulty" placeholder="1,5,10"> Difficulty</label>
  <input type="number" name="difficulty" >

  <button type="submit">Create Subject</button>
</form>


