<form action="/createsubject" method="POST" enctype="multipart/form-data">
  
  
  <div class="col-md-4  offset-md-4" id="subjectnew">
  <h2>Materia</h2>
  <label for="name">Nombre</label>
  <input type="text" name="name" class="form-control" placeholder="Materia">
  <div class="image-comment-item">
  {{!-- <label for="img"> Photo </label>
  <input type="file" name="img" class="form-control">
  </div> --}}
  <label for="themes"> Tema</label>
  <input type="text" name="themes"class="form-control" >
  <label for=" difficulty" placeholder="1,5,10">Nivel de dificultad</label>
  <input type="number" name="difficulty" class="form-control">

  <div class="new-photo">
  
      <h5>Subir nueva foto</h5>
   
   
  </div>
   <div class="change-picture">

  <input type="file" name="photo">
  <br>
  <input type="submit" value="SAVE" class="form-control">

  <button type="submit" class="btn btn-primary">Crear Materia</button>
</form>
</div>

</div>


