<div class=" col-md-4 offset-md-4 ">

<form action="/createmeeting" method="POST" enctype="multipart/form-data">
  <div class="form-group">
  <h2>Create a meeting</h2>
<<<<<<< HEAD
  <label for="name">Nombre</label>
  <input type="text" name="name" placeholder="Name your study session">
=======
  {{!-- <label for="name">Nombre</label>
  <input type="text" name="name" class="form-control" placeholder="Name your study session"> --}}
    <br>
  <label for="name"> Nombre de Reunion</label>
  <input type="text" class="form-control" name="name">
  <br>
>>>>>>> 429f04d7f27d1d5afb9ea8590f2b0d57f445542d
  <br>
  <label for="teacher"> Teacher</label>
  <input type="text" class="form-control" name="teacher">
  <br>
  <label for="date">Date</label>
  <input type="date" class="form-control" name="date">
  <br>
   <div id="search">aqui</div>
  <br>
<input id="address" class="form-control" name="address" type="text" placeholder="Enter meeting address" value={{meeting.location.address}}>
<br>
  <input id="lat" name="lat" class="form-control" type="text" placeholder="Enter property latitude"
    value="{{meeting.location.coordinates.[0]}}">
<br>
  <input id="lng" name="lng" class="form-control" type="text" placeholder="Enter property longitud"
    value="{{meeting.location.coordinates.[1]}}">
  </div>
  <br>
  <div id='map' style='display: inline-flex;width: 400px; height: 300px;'></div>


<br>


<br>
  
{{!-- <label for="group"> Group</label>
<input type="text" class="form-control" name="group"> --}}
<div class="new-photo">
  
      <h5>Upload a new Photo</h5>
   
   
  </div>
   <div class="change-picture">

  <input type="file" name="img">
  <br>
  <input type="submit" class="form-control" value="SAVE">

</div>
<button type="submit" class="btn btn-primary">Create session</button>
</div>

</form>


</div>
 
<script>
  const address = document.getElementById("address");
  const lat = document.getElementById("lat");
  const lng = document.getElementById("lng");
  mapboxgl.accessToken = 'pk.eyJ1Ijoia2FyeW1vcmEiLCJhIjoiY2swZHhuaTJrMGMzYzNtc2RvMHpnNGIzdSJ9.IHxcXifUnOJ4rb2v0oTyAg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  document.getElementById("search").appendChild(geocoder.onAdd(map))
  geocoder.on("result", (e) => {
    console.log(e.result)
    address.value = e.result.place_name;
    lat.value = e.result.center[0];
    lng.value = e.result.center[1];
  })
</script>
  

 

  </div>