<form action="/newgroupregister" method="POST" enctype="multipart/form-data">
  <h2>REGISTRO</h2>
  <label for="userName">Nombre</label>
  {{userName}}
  <br>
  <label for="email">Email</label>
 {{email}}
 <br>
  <label for=" difficulty" placeholder="1,5,10"> Imagen de Perfil</label>
  <img src="{{picPath}}" alt="profilepicture">

 <h1> el id {{id}}</h1>


  <button type="submit">Confirmar Registro</button>
</form>



