<h2>Creaste un grupo con lo siguiente: </h2>
<p>Nombre: {{name}} </p>
<br>
<p>Temas: {{themes}}
</p>
<br>
<p>Dificultad: {{difficulty}}</p>



<a href="/news">
    <button class="button-logout-profile">Ver todo</button>
  </a>