    <div class="container">
    <h2>TOP THEMES </h2>
    <div class="top-themes">
      THE BIG BANG THEORY
     <div>
      {{#each subjects}}
  
      <p>{{this.themes}}</p>
      {{/each}}
      </div>
    </div>
    
    <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
    <a href="/auth/news" class="btn btn-primary">CREAR</a>
    </div>

    <div class="container">
      <h2>TOP TEACHERS </h2>
      <div class="top-teachers">
       
   <div class="post-subject">
  <p>hola</p>
  {{#each users as |user|}}
  <p>{{user.userName}}</p>
  <p>{{user.role}}</p>
  

  {{/each}}
     
      </div>
      <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
      <a href="/auth/news" class="btn btn-primary">UNIRSE</a>
    </div>
    </div>


    <div class="container">
      <h2>NEXT SESSIONS </h2>
      <div class="top-teachers">
        ESTUDIANDO JAVASCRIPT O QUE HACE?
      </div>
      <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
    </div>

    <div class="container">
      <h2>THEMES FOR YOU </h2>
      <div class="top-teachers">
        YA VIMOS QUE TE GUSTA PROGRAMAR <3 </div> <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
      </div>

      <div class="container">
        <h2>STUDY GROUPS </h2>
        <div class="top-teachers">
          UNETE A LA FIESTA, UNETE A LA FIESTA </div>
        <a href="/auth/news" class="btn btn-primary">EXPLORE GROUPS</a>
        <a href="/auth/news" class="btn btn-primary">CREATE GROUP</a>
      </div>