<h1>THIS IS A MAIN WITH LOTS OF PRETTY THINGS <3</h1> <div class="container">
    <h2>TOP THEMES </h2>
    <div class="top-themes">
      THE BIG BANG THEORY
    </div>
    <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
    <a href="/auth/news" class="btn btn-primary">CREAR</a>
    </div>

    <div class="container">
      <h2>TOP TEACHERS </h2>
      <div class="top-teachers">
       
   <div class="post-subject">
     
      </div>
      <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
      <a href="/auth/news" class="btn btn-primary">UNIRSE</a>
    </div>
    </div>


    <div class="container">
      <h2>NEXT SESSIONS </h2>
      <div class="top-teachers">
        ESTUDIANDO JAVASCRIPT O QUE HACE?
      </div>
      <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
    </div>

    <div class="container">
      <h2>THEMES FOR YOU </h2>
      <div class="top-teachers">
        YA VIMOS QUE TE GUSTA PROGRAMAR <3 </div> <a href="/auth/news" class="btn btn-primary">VER MÁS</a>
      </div>

      <div class="container">
        <h2>STUDY GROUPS </h2>
        <div class="top-teachers">
          UNETE A LA FIESTA, UNETE A LA FIESTA </div>
        <a href="/auth/news" class="btn btn-primary">EXPLORE GROUPS</a>
        <a href="/auth/news" class="btn btn-primary">CREATE GROUP</a>
      </div>