<div class="profile-container">


<div class="profile-left col-md-4 offset-md-3 ">
 
  <div class="profile-picture">
    <img src="{{usr.profile.img}}" alt="" class="profpic">

    <div class="new-photo">
      <h5>Upload a new Photo</h5>
    <form action="/profile/add" method="post" enctype="multipart/form-data">
   
  </div>
 <div class="change-picture">

  <input type="file" name="photo">
  <br>
  <input class="button small-button" type="submit" value="Guardar">

  </form>
  </div>
  <div class="row space-buttons">
    <a href="/news">
      <button class="button-logout-profile">Explorar página</button>
    </a>
  </div>

</div>
</div>

<div class="profile-right .col-md-4 .col-lg-4">
<div class="row">
  <div class="profile-headline">
    Perfil de Alumno
    <h2>hi {{usr.userName}}!!!</h2>
  </div>
  </div>


  <div class="button-create">
  <a href="/newgroup">
    <button class="button-logout-profile">Crear Grupo de Estudio</button>
  </a>
 
<a href="/logout">
  <button>Logout</button>
</a>

</div>

