<div class="profile-container">


<div class="profile-left col-md-4 offset-md-2 ">
 
  <div class="profile-picture">
    <img src="{{usr.profile.img}}" alt="" class="profpic">

    <div class="new-photo ">
      <h5>Upload a new Photo</h5>
    <form action="/profile/add" method="post" enctype="multipart/form-data">
   
  </div>



 <div class="change-picture">

  <input type="file" name="photo">
  <br>
  <input type="submit" class="small-button"  value="SAVE">

  </form>
  </div>

  <div class="row space-buttons">
    <a href="/news">
      <button class="button-explore-profile">Explorar página</button>
    </a>
  </div>
</div>
</div>

<div class="profile-right .col-md-4 .col-lg-4">
<div class="row">
  <div class="profile-headline">
    Perfil de Maestro

    <div class="the-teacher">
    <h2> hi {{usr.userName}} !!</h2>
    </div>

  </div>
  </div>
  <br>

    <div class="your-choice">
    <h5>Please, select your subjects </h5>
    </div>

  <div class="btn-group subject-selection">
    <form action="/profile/addSubject" method="post">
      <label><input name="subject" class="style-option" value="Matematicas" type="checkbox"> Matemáticas </label>
      <label><input name="subject" value="Fisica" type="checkbox"> Física </label>
      <label><input name="subject" value="Programacion" type="checkbox"> Programación </label>
      <label><input name="subject" value="Literatura" type="checkbox"> Literatura </label>
      <label><input name="subject" value="Quimica" type="checkbox"> Química </label>
      <label><input name="subject" value="Biologia" type="checkbox"> Biología </label>
        <label><input name="subject" value="Astronomia" type="checkbox"> Astronomía </label>
          <label><input name="subject" value="Marketing" type="checkbox"> Marketing </label>
      <button class="small-button" type="submit" class="small-button" >SAVE</button>
    </form>
  
    <p>{{usr.profile.subject}}</p>

  </div>



  
<div class="logout-profile">
  <a href="/newmeeting">

    <button class="button-logout-profile"><i class="fa fa-calendar"></i>New Meeting</button>
  </a>


</div>


<div class="logout-profile">
  <a href="/subject">
    <button class="button-logout-profile">Crear Materia</button>
  </a>

</div>
<div class="logout-profile">
  <a href="/editProfile">
    <button class="button-logout-profile">Editar Materias o Sesiones</button>
  </a>
</div>

<div class="logout-profile">
  <a href="/logout">
    <button class="button-logout-profile">Logout</button>
  </a>


</div>



</div>


</div>





