<div class="profile-container">


<div class="profile-left col-md-4 offset-md-2 ">
 
  <div class="profile-picture">
    <img src="{{profile.img}}" alt="" class="profpic">

    <div class="new-photo">
      <h5>Upload a new Photo</h5>
    <form action="/profile/add" method="post" enctype="multipart/form-data">
   
  </div>
 <div class="change-picture">

  <input type="file" name="photo">
  <br>
  <input type="submit" value="SAVE">

  </form>
  </div>
</div>
</div>

<div class="profile-right .col-md-4 .col-lg-4">
<div class="row">
  <div class="profile-headline">
    <h2>teacher profile</h2>
    hi {{userName}}
  </div>
  </div>
  <br>

    <div class="your-choice">
    <h5>Please, select your subjects </h5>
    </div>

  <div class="subject-selection">
    <form action="/profile/addSubject" method="post">
      <label><input name="subject" value="Matematicas" type="checkbox"> Matemáticas </label>
      <label><input name="subject" value="Fisica" type="checkbox"> Física </label>
      <label><input name="subject" value="Programacion" type="checkbox"> Programación </label>
      <label><input name="subject" value="Literatura" type="checkbox"> Literatura </label>
      <label><input name="subject" value="Quimica" type="checkbox"> Química </label>
      <label><input name="subject" value="Biologia" type="checkbox"> Biología </label>
        <label><input name="subject" value="Astronomia" type="checkbox"> Astronomía </label>
          <label><input name="subject" value="Marketing" type="checkbox"> Marketing </label>
      <button type="submit">SAVE</button>
    </form>
  
    <p>{{profile.subject}}</p>

  </div>
  
<div class="logout-profile">
  <a href="/newgroup">
    <button class="button-logout-profile">Crear Grupo</button>
  </a>


</div>


<div class="logout-profile">
  <a href="/subject">
    <button class="button-logout-profile">Crear Materia</button>
  </a>


</div>

<div class="logout-profile">
  <a href="/logout">
    <button class="button-logout-profile">Logout</button>
  </a>


</div>

</div>


</div>





