<h1>MATH, GEOGRAPHY, SPANISH</h1>


<div class="post-subject">
  {{#each subjects as |subject|}}
  <div class="subject-item">
   
    <p>{{subject.name}}</p>
  </div>
  {{/each}}



<a href="/news" class="btn btn-primary">EVERYTHING</a>

