
<div class="jumbotron"
  style="background-image: url(https://i.ibb.co/PZp8nGm/adult-business-computer-2422293.jpg); background-size: 100%;">
  <div class="group-header-text">
    <h1 class="display-4">Profesores</h1>
    <p class="lead">Todos los tutores disponibles</p>

    <p class="groups-description">Encuentra el adecuado para ti</p>
    <a class="btn btn-primary btn-lg" href="/news" role="button">Regresa</a>
  </div>
</div>

<div class="col-md-10 offset-md-1">
<div class="container">
{{#each users as |user|}}
<div class="card" style="width: 18rem;" id="teacher-card">
  <img src="{{user.profile.img}}" class="card-img-top" >
  <div class="card-body">
    <p class="card-text"><b>{{userName}}</b></p>
<p>{{usr.role}}</p>
   
  </div>
</div>
{{/each}}

</div>
</div>