
<div class="jumbotron"
  style="background-image: url(https://i.ibb.co/C58TRWR/astrology-astronomy-background-2694037.jpg); background-size: 100%;">
  <div class="group-header-text">
    <h1 class="display-4">Temas</h1>
    <p class="lead">Todos los temas disponibles que puedes aprender</p>

    <p class="groups-description">Profesores crean los temas disponibles para ti</p>
    <a class="btn btn-primary btn-lg" href="/news" role="button">Regresar</a>
  </div>
</div>



<div class="col-md-10 offset-md-2">

<div class="container">
{{#each subjects}}
<div class="card" style="width: 280px" id="sub-div" >
  <img src="{{this.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
  
  </div>
  <ul class="list-group list-group-flush"></ul>
      <p class="card-text">{{this.themes}}</p>
    <li class="list-group-item">DIFFICULTY: {{this.difficulty}}</li>
  </ul>
</div>
{{/each}}
</div>
</div>
</div>
