body {
  font-family: 'Questrial', sans-serif; }

a {
  color: #00b7ff;
  font-weight: bolder; }

#registro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10% 25%;
  width: 50vw;
  height: 60vw;
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px; }

#caja-registro {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  justify-items: center; }

.input-group-text {
  width: 100%;
  margin-bottom: 10px; }

#title {
  margin-bottom: 10vh; }

.user {
  margin-bottom: 3px; }

#signup-btn {
  margin-top: 5vh; }

.the-space {
  margin: 15px; }

.container {
  display: flex;
  flex-wrap: wrap; }

.top-themes {
  height: 300px;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .top-themes .card {
    display: inline-block; }

#teach-foot {
  width: 100vw;
  height: 450px; }

#teach-foot img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.top-cont {
  height: 300px;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .top-cont .card {
    display: inline-block; }

#teach-header {
  width: 100vw;
  height: 450px;
  background-color: #7ccfe4; }

#teach-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }

#news-header {
  width: 100vw;
  height: 400px;
  background-color: #7ccfe4; }

#news-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }

#index-total {
  background-color: #7ccfe4; }

.action-button {
  height: 40px;
  width: 130px;
  border-radius: 10px;
  border: none;
  margin: 10px; }

#index-title {
  padding: 40px;
  position: relative;
  text-align: center; }

.nav-item {
  padding: 10px; }

.logo {
  width: 120px;
  height: auto; }

.profpic {
  width: 260px; }

.choose-subjects {
  width: 200px;
  background-color: lightsalmon; }

.logout-profile {
  margin: 30px; }

.profile-left {
  text-align: center;
  display: inline-flexbox; }

.your-choice {
  position: relative;
  text-align: center; }

.profile-right {
  display: inline-flexbox; }

.profile-headline {
  padding: 30px; }

.profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin: 5%; }

.logout-profile {
  width: 200px;
  height: 30px; }

.button-logout-profile {
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #8ee4f0;
  box-shadow: 4px 18px 5px -13px rgba(0, 0, 0, 0.28); }

.button-explore-profile {
  margin-top: 50px;
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #8ee4f0;
  box-shadow: 4px 18px 5px -13px rgba(0, 0, 0, 0.28); }

.button-create {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #8ee4f0;
  box-shadow: 4px 18px 5px -13px rgba(0, 0, 0, 0.28); }

.subject-selection {
  width: 300px;
  padding: 50px; }

.subject-buttons {
  display: flex;
  display: inline-block;
  margin: 15px; }

.new-photo {
  margin-top: 20px; }

.news-headline {
  height: 90px; }

.headline {
  padding: 15px;
  color: pink; }

.mb-3 {
  margin: 10px; }

p.card-text {
  width: 20px;
  white-space: nowrap;
  padding: 20px; }

#sub-div {
  margin-top: 50px; }

#meeting-card {
  margin: 15px; }

#group-card {
  margin: 15px; }

.lead {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; }

.display-4 {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; }

.my-4 {
  color: white; }

.groups-description {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; }

.group-header-text {
  position: relative;
  text-align: center; }

#teacher-card {
  margin: 15px; }

.small-button {
  position: absolute;
  margin-top: 50px;
  box-shadow: 4px 18px 5px -13px rgba(0, 0, 0, 0.28);
  background-color: #e5f3f5;
  border-radius: 5px;
  width: 160px; }

#subjectnew {
  margin-top: 50px; }

.space-buttons {
  margin: 15px; }

.the-teacher {
  margin: 0 20px 20px 0; }

.style-option {
  color: blue; }

.edit-titles {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px; }

/*# sourceMappingURL=style.css.map */